body{
    background-color: rgb(126, 171, 255);
}

#scoreboard{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    width: 600px;
    height: 300px;
    font-weight: bold;
    font-size: 7vmin;
    color: rgb(101, 101, 233);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (min-width: 1000px){
    #algaL{
        margin-top: 17%;
        height: 400px;
        width: 200px;
        display: flex;
        position: absolute;
        margin-left: 77%;
    }

    #algaR{
        margin-top: 17%;
        height: 400px;
        width: 200px;
        display: flex;
        position: absolute;
        margin-left: 5%;
    }

    #fish1{
        width: 200px;
        height: 200px;
    }

    #fish2{
        margin-left: 80%;
        margin-top: -15%;
        width: 200px;
        height: 200px;
    }
    
    #fish3{
        margin-left: 45%;
        margin-top: 18%;
        width: 200px;
        height: 200px;
    }

    
}

@media screen and (max-width: 1000px){
    #algaL{
        margin-top: 18%;
        height: 400px;
        width: 200px;
        display: flex;
        position: absolute;
        margin-left: 77%;
    }

    #algaR{
        margin-top: 18%;
        height: 400px;
        width: 200px;
        display: flex;
        position: absolute;
        margin-left: 0.3%;
    }

    #fish1{
        width: 200px;
        height: 200px;
    }

    #fish2{
        margin-left: 80%;
        margin-top: -25%;
        width: 200px;
        height: 200px;
    }
    
    #fish3{
        margin-left: 45%;
        margin-top: 29%;
        width: 200px;
        height: 200px;
    }

    
}